.todoContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  position: relative;
  height: 100vh;
}

.todoHeadingWrapper {
  width: 100%;
  background-color: var(--color-teal);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskListWrapper {
  width: 80%;
  height: auto;
  margin: 20px 0 110px;
  overflow-y: scroll;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0 3%;
  width: 100vw;
  background-color: var(--color-teal);
  position: fixed;
  bottom: 0;
}

.formInputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
}

label {
  margin: 5px;
}

input[type='text'] {
  display: inline-block;
  padding: 10px 5px;
  border: 1px solid lightgray;
}

input[type='radio'] {
  margin: 5px;
}
