@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-orange-primary: #e76f51;
  --color-orange-secondary: #f4a261;
  --color-yellow: #e9c46a;
  --color-teal: #2a9d8f;
  --color-bluegray: #264653;
  --color-offwhite: #fff9f2;
  --color-darkgray: #282828;
}

*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  background-color: var(--color-bluegray);
  /* color: var(--color-darkgray); */
  color: #f4a261;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  text-decoration: none;
}

li {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}